body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 60px;
  text-align: left;
  font-weight: 400;
  font-size: 34px;
  line-height: 48px;
}

h2 {
  color: #231d3c;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
div.row {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding: 16px 24px;
}
div.card {
  text-align: center;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}